---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <h1>About</h1>
  {{ content }}

  {%- if site.upcoming_events.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Next Event" }}</h2>
    <ul class="post-list">
      {% assign sorted = (site.upcoming_events | sort: 'date') %}
      {%- assign event = sorted.first -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ event.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ event.url | relative_url }}">
            {{ event.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ event.excerpt }}
        {%- endif -%}
      </li>
    </ul>
  {%- endif -%}

</div>
