---
layout: default
dial_in_information:
  - "+19292056099,,797609437# US (New York)"
  - "+16699006833,,797609437# US (San Jose)"
dial_in_link: https://zoom.us/j/797609437
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>•
      {%- for information in layout.dial_in_information -%}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name"> {{ information }} •</span></span>
      {%- endfor -%}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name"> <a href="{{ layout.dial_in_link }}">Dial In</a></span></span>
      </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  <h2>Recording</h2>
    {{ page.recording }}
    <h2>Presentation</h2>
    {{ page.presentation }}
    <h2>Files</h2>
    {%- for page_file in page.file_list -%}
      •<a href="{{ page_file }}">{{ page_file }}</a> <br>
    {%- endfor -%}
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
