---
layout: default
dial_in_information:
  - "+19292056099,,797609437# US (New York)"
  - "+16699006833,,797609437# US (San Jose)"
dial_in_link: https://zoom.us/j/797609437
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name"> Zoom Dial In Link: <a href="{{ layout.dial_in_link }}">{{ layout.dial_in_link }}</a></span></span>
      </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    {%- if page.file_list.size > 0 -%}
    <h2>Files</h2>
    <ul>
      {%- for page_file in page.file_list -%}
        {%- if page_file[0] contains 'http://' or page_file[0] contains 'https://' -%}
          <li><a href="{{ page_file[0] }}">{{ page_file[0] }}</a>: {{page_file[1]}} </li>
        {% else -%}
          {% assign file_store = "/file_store/" %}
          <li><a href="{{  file_store | append:  page_file[0] | append: site.baseurl }}">{{ page_file[0] }}</a>: {{page_file[1]}} </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
    {%- endif -%}
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
