---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <h1>About</h1>
  {{ content }}

  {%- if site.events.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Next Event" }}</h2>
    <ul class="post-list">
      <div id="upcoming-event">
        {%- for event in site.events -%}
          <div class="event-link" date="{{ event.date }}">
              <a  href="{{ event.url | relative_url }}" >{{event.title}}</a>
              <br/>
              {{event.summary}}
              <br/>
              <br/>
          </div>
      {%- endfor -%}
      </div>
    </ul>
  {%- endif -%}

</div>
